.c-listitem {
  padding: ($padding * 3);
  display: block;
  font-size: large;

  .c-checkbox {
    margin-right: $margin;
  }

  .c-listitem-description {
    flex: 8;
  }

  .c-listitem-input {
    display: flex;
    justify-content: center;

    form[class~="ant-form"] {
      width: 100%;
      justify-content: center;
    }
    input[class~="ant-input"] {
      width: 30vw;
      justify-content: center;
    }
  }

  .c-listitem-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-icons {
    flex: 3;
    display: flex;
    justify-content: flex-end;

    > span {
      margin-left: $margin;
      color: $black;
      transition: color 0.3s;

      &:hover {
        color: $primaryColor;
      }
    }
  }
}
.c-listitem-completed {
  opacity: 0.4;
  background-color: $lightGray;
}
