$white: rgb(241, 247, 246);
$lightGray: #efefef;
$gray: #ccc;
$primaryColor: rgb(0, 169, 169);
$primaryColorDarker: rgb(0, 112, 125);

$titleFont: "Nunito Sans", sans-serif;

$padding: 8px;
$margin: 8px;
